@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>
    Hot Cocoa Bombs!
</h1>

    <table class="table text">

    <tr>
        <th></th>
        <th>Ingredients</th>
        <th>Preparation</th>
    </tr>

        <tr>            
            <td colspan="1">
            Starbucks Hot Cocoa Cups <br />
                <img src="/Images/starbucks1.jpg" alt="Hot cocoa bombs" width="400px" height="250px" />
            </td> 
            <td>
            <i class="bi bi-suit-heart"></i> Hot Cocoa Packets <br />
            <i class="bi bi-suit-heart"></i> Chocolate Melts <br />
            <i class="bi bi-suit-heart"></i> Food Coloring <br />
            <i class="bi bi-suit-heart"></i> Pirouline Rolled Wafers <br />
            <i class="bi bi-suit-heart"></i> Small Marshmallows <br />
            <i class="bi bi-suit-heart"></i> Small Plastic Cups <br />
            <i class="bi bi-suit-heart"></i> Starbucks logo mold
            </td>
            <td>
            <i class="bi bi-suit-heart"></i> Cut one side of your platic cup and <br />
                                             tape it back. Melt your chocolate and <br />
                                             color it to your liking. Follow the <br />
                                             instructions on the bag on how to melt <br />
                                             the chocolate. Pour the melted chocolate<br />
                                             into the cup and cover all the cup. Let <br />
                                             it chill for approx. 10 minutes. Remove<br />
                                             the tape from the cup and take out your <br />
                                             chocolate cup. Place 1 and 1/2 tbsp of <br />
                                             chocolate mix into the chocolate cup, <br />
                                             rolled wafer and add marshmallows. Drizzle <br />
                                             some melted chocolate on top of the <br />
                                             marshmallows. Finally, add melted chocolate <br />
                                             to the Starbucks mold, let it dry for <br />
                                             approx. 5 minutes and use melted chocolate <br />
                                             to glue your logo into the chocolate cup.<br />
        </td>
        </tr>    
        
        <tr>
        <td colspan="1">
            Mexican Treats Hot Cocoa Bombs <br />
            <img src="/Images/mexicantreats.jpg" alt="Hot cocoa bombs" width="400px" height="350px" />
        </td>
        <td>            
            <i class="bi bi-suit-heart"></i> Hot Cocoa Packets <br />
            <i class="bi bi-suit-heart"></i> Chocolate Melts <br />
            <i class="bi bi-suit-heart"></i> Food Coloring <br />
            <i class="bi bi-suit-heart"></i> Small Marshmallows <br />
            <i class="bi bi-suit-heart"></i> Sphere Silicone Mold
        </td>
        <td>
            <i class="bi bi-suit-heart"></i> Melt your chocolate and <br />
                                             color it to your liking. Follow the <br />
                                             instructions on the bag on how to melt <br />
                                             the chocolate. Pour the melted chocolate <br />
                                             into the sphere mold. Let it chill for <br />
                                             approx. 10 minutes. Place 1 and 1/2 tbsp <br />
                                             of chocolate mix into the chocolate cup <br />
                                             and add marshmallows. Melt the bottom of <br />
                                             the semi-sphere and glue 2 semi-spheres <br />
                                             together to make a sphere. Decorate to <br />
                                             your liking.<br />

        </td>
        </tr>        
    </table>
