@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>
Cakes!
</h1>
<table class="table text">

    <tr>
        <th></th>
        <th>Ingredients</th>
        <th>Preparation</th>
    </tr>

    <tr>
        <td colspan="1">
            <strong>Chocoflan</strong> <br />
            <img src="/Images/Flanyflanes.jpg" alt="Chocoflan" width="400px" height="350px" /> <br />
        </td>
        <td>
            <strong>Flan mix</strong> <br />
            <i class="bi bi-suit-heart"></i> 4 oz of cream cheese <br />
            <i class="bi bi-suit-heart"></i> 1 can of condensed milk <br />
            <i class="bi bi-suit-heart"></i> A pinch of salt <br />
            <i class="bi bi-suit-heart"></i> 1 can of evaporated milk <br />
            <i class="bi bi-suit-heart"></i> 5 eggs <br />
            <i class="bi bi-suit-heart"></i> 1 tbsp of vanilla extract <br />
            <i class="bi bi-suit-heart"></i> 1 cup of sugar <br />
            <strong>Chocolate cake mix </strong><br />
            <i class="bi bi-suit-heart"></i> 1 box of chocolate cake mix <br />
        </td>
        <td>
            <i class="bi bi-suit-heart"></i> Mix 4 oz of cream cheese, 1 can of <br />
                                                condensed milk, and a pinch of <br />
                                                salt together. Add 1 can of <br />
                                                evaporated milk, 5 eggs, and 1 <br />
                                                tbsp of vanilla extract. Follow <br />
                                                the instructions on the back of <br>
                                                the chocolate cake mix. Place 1/2 <br>
                                                cup of sugar in a pan and cook <br />
                                                until caramelized. Add the caramelized <br>
                                                sugar to your mold. Also add the flan <br />
                                                mix and chocolate cake mix to the mold. <br>
                                                Cover your mold with aluminum foil. <br />
                                                Get a bigger pan to place your mold in <br>
                                                and add water to the bigger pan. Place <br />
                                                into the oven for 1 hour at 350 degrees<br />
                                                fahrenheit. Let it cool for 2 hours before <br>
                                                taking it out of the mold. Let it cool <br />
                                                overnight and enjoy! <br />
        </td>
    </tr>
    <tr>

    <tr>
        <td colspan="1">
            <strong>Nutella Cake With Chocolate Drip</strong> <br />
            <img src="/Images/pastel.jpg" alt="Nutella cake with dripping chocolate" width="400px" height="560px" />
        </td>
        <td>
        <strong>Icing Recipe</strong> <br />
            <i class="bi bi-suit-heart"></i> 250 Margarine <br />
            <i class="bi bi-suit-heart"></i> 250 Butter <br />
            <i class="bi bi-suit-heart"></i> 250 Vegetable Shortening <br />
            <i class="bi bi-suit-heart"></i> 800gr powdered sugar <br />
            <i class="bi bi-suit-heart"></i> 1 tbsp of vanilla extract <br />

        <strong>Chocolate Cake Mix </strong> <br />
            <i class="bi bi-suit-heart"></i> Follow instructions on the cake box <br />

        <strong>Chocolate Drip</strong> <br />
            <i class="bi bi-suit-heart"></i> 1 cup of heavy wheeped cream <br />
            <i class="bi bi-suit-heart"></i> 1 cup of chocolate <br />
        </td>
        <td>
            <i class="bi bi-suit-heart"></i> Follow the instructions on the <br />
                                             back of the cake mix box. For the <br />
                                             icing, mix 250gr of butter, 250gr of <br />
                                             margarine amd 250gr of vegetable <br />
                                             shotening. Then add 1 tbsp of vanilla <br />
                                             extract and 800gr of powdered sugar. <br>
                                             Cover one cake with nutella and stack both <br />
                                             chocolate cakes and spread your icing all <br />
                                             over the cake. Cover the cake fully or to <br />
                                             your preference. Let it chill for 30 minutes <br />
                                             on the fridge then drip chocolate on top of <br />
                                             your cake.To make your chocolate drip, use <br />
                                             1 cup of heavy whipping cream and 1 cup of<br />
                                             chocolate melts. Mix the heavy whipping <br />
                                             cream and melted chocolate. Place in a pan at <br />
                                             medium heat for a few minutes. Finally, stir <br />
                                             unitl smooth. Finally, drip the chocolate on <br />
                                             top of your cake and cause a drip effect. <br />
                                             Decorate the cake to your liking. Enjoy!<br />
        </td>
    </tr>        

        <td colspan="1">
        <strong>Churro Cheesecake Bites</strong><br />
            <img src="/Images/churrocheesecakebites.jpg" alt="Churro cheesecake" width="400px" height="350px" />
        </td>
        <td>
        <i class="bi bi-suit-heart"></i> 16 oz of cream cheese <br />
        <i class="bi bi-suit-heart"></i> 1 can of condensed milk <br />
        <i class="bi bi-suit-heart"></i> 1 tbsp of vanilla extract <br />
        <i class="bi bi-suit-heart"></i> 1 egg <br />
        <i class="bi bi-suit-heart"></i> 2 cans of dough sheets <br />
        <i class="bi bi-suit-heart"></i> 4 tbsp of sugar <br />
        <i class="bi bi-suit-heart"></i> 1 and 1/2 tbsp of cinnamon <br />
        <i class="bi bi-suit-heart"></i> butter <br />
        </td>
        <td>
            <i class="bi bi-suit-heart"></i> Mix the 16oz of cream cheese, 1 egg, 1 tbsp <br />
                                             of vanilla extract, and 1 can of condensed milk <br>
                                             together. On a plate, mix sugar and cinnammon.<br />
                                             In your mold, spread butter on the bottom of the <br />
                                             mold and add your sugar and cinammon mix. <br />
                                             Place your dough sheet on your mold. Add <br />
                                             your cheesecake mix. Add another dough sheet <br />
                                             on top of the cheesecake mix. Spread butter on <br />
                                             the dough sheet and add sugar and cinammon mix. <br />
                                             Place it in the oven for 30 minutes at 375 degrees <br />
                                             fahrenheit. Let it cool overnight and enjoy!<br/>
        </td>
    </tr>
</table>