@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class="position">
    Message Deli Pink Sweets To Place An Order!
</h1>
<h2 class="position">
<i class="bi bi-facebook"></i> &nbsp; <a href="https://ne-np.facebook.com/100084871879536/menu/">Deli Pink Sweets </a>
<br />
    <i class="bi bi-instagram"></i> &nbsp; <a href="https://www.instagram.com/deli_pink_sweets/?fbclid=IwAR0_jakuyp6_yX_uC4wCEgc9UGeCSaXIkipChkg1HKB_4_uF8O7IaVQORZ4">Deli Pink Sweets </a>
</h2>
<h3 class="position">
<img src="\Images\starbucks1.jpg" width="900px" height="500px"/>
</h3>