@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>
    Cookies!
</h1>
<table class="table text">

    <tr>
        <th></th>
        <th>Ingredients</th>
        <th>Preparation</th>
    </tr>

    <tr>
        <td colspan="1">
            Choco Cookies With KitKat, Twix and M&M's <br />
            <img src="/Images/chocogalletas.jpg" alt="Hot cocoa bombs" width="400px" height="250px" />
        </td>
        <td>
            <i class="bi bi-suit-heart"></i> 1/2 cup of melted butter <br />
            <i class="bi bi-suit-heart"></i> 1/2 cup of brown sugar <br />
            <i class="bi bi-suit-heart"></i> 1/3 cup of sugar <br />
            <i class="bi bi-suit-heart"></i> 1 egg <br />
            <i class="bi bi-suit-heart"></i> 1 tbsp of vanilla extract <br />
            <i class="bi bi-suit-heart"></i> 1 and 1/2 cups of flour <br />
            <i class="bi bi-suit-heart"></i> 1/3 cup of cocoa powder <br>
            <i class="bi bi-suit-heart"></i> 1/2 tbsp of baking soda <br/>
            <i class="bi bi-suit-heart"></i> 1/4 tbsp of salt <br />
            <i class="bi bi-suit-heart"></i> Kit Kat, Twix and M&M's <br />
        </td>
        <td>
            <i class="bi bi-suit-heart"></i> Mix butter, brown sugar, sugar, egg, <br />
                                             vanill extract, flour, cocoa powder, <br/>
                                             baking soda, and salt together. Mix until <br/>
                                             you have a dough. Make small balls with <br/>
                                             the dough. Put parchment paper on a pan <br/>
                                             and place you cookie dough. Place pan in <br />
                                             oven for 350 degrees fahrenheit for 12-15 <br />
                                             minutes. Add Kit Kat, Twix and M&M's on top <br />
                                             of the cookies while still hot. Let it cool for <br/>
                                             30 minutes and enjoy! <br />
        </td>
    </tr>

    <tr>
        <td colspan="1">
            Cookies With Hersheys Chocolate <br />
            <img src="/Images/galletas.jpg" alt="Hot cocoa bombs" width="400px" height="350px" />
        </td>
        <td>
            <i class="bi bi-suit-heart"></i> 1 cup of sugar <br/>
            <i class="bi bi-suit-heart"></i> 1/2 up of brown sugar </br>
            <i class="bi bi-suit-heart"></i> 2 sticks of melted butter <br />
            <i class="bi bi-suit-heart"></i> 2 eggs <br />
            <i class="bi bi-suit-heart"></i> 2 tbsp of vanilla extract <br />
            <i class="bi bi-suit-heart"></i> 3 cups of flour <br>
            <i class="bi bi-suit-heart"></i> 1 tsbp of baking soda <br />
            <i class="bi bi-suit-heart"></i> 1/8 tbsp salt <br /> 
            <i class="bi bi-suit-heart"></i> 2 cups of chocolate chips<br />
        </td>
        <td>
            <i class="bi bi-suit-heart"></i> In a bowl mix sugar, brown sugar, melted butter,<br />
                                             2 eggs, and vanilla extract together. In another <br />
                                             bowl mix flour, baking soda, and salt together. <br />
                                             Then incorporate both bowls together and mix them <br/>
                                             creating a dough. Add chocolate chips to your dough. <br/>
                                             Create small or medium cookie balls with the dough. <br />
                                             Put parchment paper on a pan and place you cookie <br />
                                             dough. Place pan in the oven for 350 degrees <br />
                                             fahrenheit for 12-15 minutes. Add more chocolate on <br />
                                             top of your cookies and let it cool for 30 minutes. <br/>
                                             Enjoy!<br />
        </td>
    </tr>
</table>