@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class=" border-bottom">
    Menu & Prices
</h1>
<h2 >
    <table style="margin-left:250px">
        <tr>
            <td>
                <i class="bi bi-suit-heart"></i>Hot Cocoa Bombs &emsp;<br />  &emsp; &emsp; 4 for $20
            </td>            
            <td>
                <img src="/Images/mexicantreats.jpg" width="250px" heiht="350px" /> <br />
            </td>
        </tr>
        <tr>
            <td>
                <i class="bi bi-suit-heart"></i>Hot Cocoa Cups &emsp; <br /> &emsp; &emsp; 4 for $20
            </td>
            <td>
                <img src="/Images/starbucks.jpg" width="250px" heiht="350px" /> <br />
            </td>
        </tr>
        <tr>
            <td>
                <i class="bi bi-suit-heart"></i>Chocolate Covered Strawberries &emsp; <br /> &emsp; &emsp; Price varies on design
            </td>
            <td>
                <img src="/Images/strawberry7.jpg" width="250px" heiht="350px" /> <br />
            </td>
        </tr>
        <tr>
            <td>
                <i class="bi bi-suit-heart"></i>Birthday Cakes &emsp; <br /> &emsp; &emsp; Price varies on size
            </td>
            <td>
                <img src="/Images/pastel.jpg" width="250px" heiht="350px" /> <br />
            </td>
        </tr>
        <tr>
            <td>
                <i class="bi bi-suit-heart"></i>Chocoflan &emsp;<br /> &emsp; &emsp; $25-35
            </td>
            <td>
                <img src="/Images/Flanyflanes.jpg" width="250px" heiht="350px" /> <br />
            </td>
        </tr>
        <tr>
            <td>
                <i class="bi bi-suit-heart"></i>Churro Cheesecake &emsp; <br /> &emsp; &emsp; $12 per box
            </td>
            <td>
                <img src="/Images/churrocheesecakebites.jpg" width="250px" heiht="350px" /> <br />
            </td>
        </tr>
        <tr>
            <td>
                <i class="bi bi-suit-heart"></i>Chocolate Cookies &emsp; <br /> &emsp; &emsp; 10 for $15
            </td>
            <td>
                <img src="/Images/chocogalletas.jpg" width="250px" heiht="350px" /> <br />
            </td>
        </tr>
        <tr>
            <td>
                <i class="bi bi-suit-heart"></i>Chocolate Chip Cookies &emsp; <br /> &emsp; &emsp; 10 for $15
            </td>
            <td>
                <img src="/Images/galletas.jpg" width="250px" heiht="350px" /> <br />
            </td>
        </tr>
    </table>          
</h2>