@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class="position">
    Chocolate covered Strawberries for any occasion!
</h1>
<table style="margin-left:40px">
    <tr>
        <td>
            <img src="/Images/strawberry1.jpg" alt="Chocolate covered strawberries" width="300px" height="300px"/>
        </td>
        <td>
            <img src="/Images/strawberry9.jpg" alt="Chocolate covered strawberries" width="300px" height="300px" />
        </td>
        <td>
            <img src="/Images/strawberry10.jpg" alt="Chocolate covered strawberries" width="300px" height="300px" />
        </td>
        <td>
            <img src="/Images/strawberry4.jpg" alt="Chocolate covered strawberries" width="300px" height="300px" />
        </td>        
    </tr>

    <tr>
        <td>
            <img src="/Images/strawberry5.jpg" alt="Chocolate covered strawberries" width="300px" height="300px" />
        </td>
        <td>
            <img src="/Images/strawberry6.jpg" alt="Chocolate covered strawberries" width="300px" height="300px" />
        </td>
        <td>
            <img src="/Images/strawberry7.jpg" alt="Chocolate covered strawberries" width="300px" height="300px"
        </td>
        <td>
            <img src="/Images/strawberry8.jpg" alt="Chocolate covered strawberries" width="300px" height="300px" />
        </td>
    </tr>
    <tr>
        <td>
            <img src="/Images/strawberry2.jpg" alt="Chocolate covered strawberries" width="300px" height="300px" />
        </td>
        <td>
            <img src="/Images/strawberry3.jpg" alt="Chocolate covered strawberries" width="300px" height="300px" />
        </td>
        <td>
            <img src="/Images/strawberry11.jpg" alt="Chocolate covered strawberries" width="300px" height="300px" />
        </td>
        <td>
            <img src="/Images/strawberry12.jpg" alt="Chocolate covered strawberries" width="300px" height="300px" />
        </td>
    </tr>
</table>